
.obj3, .obj4, .obj5, .obj6 {
    width: 7.8125em;
    height: auto;
}

.obj1, .obj2, .obj7, .obj8 {
    width: 23.4375em;
    height: auto;
}

.obj1 {
    top: 0px;
    left: 59.375em;
    transform: rotate(1deg);
}

.obj2 {
    top: 17.1875em;
    left: 59.375em;
    transform: rotate(-1deg);
}

.obj3 {
    top: 34.375em;
    left: 35em;
    transform: rotate(1deg);
}

.obj4 {
    top: 34.375em;
    left: 43.75em;
    transform: rotate(-1deg);
}

.obj5 {
    top: 34.375em;
    left: 52.5em;
    transform: rotate(2deg);
}


.obj6 {
    top: 34.375em;
    left: 61.25em;
    transform: rotate(-1deg);
}

.obj7 {
    top: 17.1875em;
    left: 35em;
    transform: rotate(-2deg);
}

.obj8 {
    top: 0px;
    left: 35em;
    transform: rotate(-1deg);

}





p, h2 {
    font-family: "ReenieBeanie", cursive;
    font-size: 1.25em;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}

.frame-wrap .frame-text:nth-child(1 of .frame-text) {
    top: 1.25em;
}
