.frame-wrap {
    position: relative;
    height: 85vh;
    margin: 0 64px;
    overflow: visible;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 1;
}

.frame-text {
    position: absolute;
    top: 425px;     /* adjust */
    left: 10px;    /* adjust */
    z-index: -1;
    pointer-events: none;
    width: 35%;
}

.frame-text p {
    margin: 0;
    pointer-events: none;
}

.object {
    position: absolute;
    cursor: grab;
    user-select: none;
    touch-action: none;
}

.object:active {
    cursor: grabbing;
}

.image-placeholder .image {
    border: 8px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 3px 8px 14px rgba(0, 0, 0, 0.39);
    width: 250px;
    height: auto;
}



.tape {
    position: relative;
    top: 18px;
    left: 0;
    transform: none;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 35px;
    z-index: 2;
}


