.frame-wrap {
    position: relative;
    height: 200vh;
    margin: 0 4em;
    overflow: visible;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 1;
}

.frame-text {
    position: absolute;
    left: 0.625em;    /* adjust */
    z-index: -1;
    pointer-events: none;
    width: 35%;
}

.frame-text p {
    margin: 0;
    pointer-events: none;
}

.object {
    position: absolute;
    width: 16.25em;         /* base size */
    cursor: grab;
    user-select: none;
    touch-action: none;
}

.object:active {
    cursor: grabbing;
}

.image-placeholder .image {
    width: 100%;          /* now follows .object resize */
    height: auto;
    display: block;
    border: 0.5em solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0.1875em 0.5em 0.875em rgba(0, 0, 0, 0.39);
}

.tape {
    position: relative;
    top: 1.125em;
    left: 0;
    transform: none;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 1.875em;
    z-index: 2;
}


