

@font-face {
    font-family: ReenieBeanie;
    src: url(../fonts/ReenieBeanie-Regular.ttf) format("truetype");
}

body {
    background-image: url('../images/achtergrond.jpg');
    background-size: cover;
}

header > div h1, header > div h2 {
    font-family: "ReenieBeanie", cursive;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
}

a {
    font-family: "ReenieBeanie", cursive;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 1.5em;
}

a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: 300;
    font-size: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em 2.25em 4em;
}

header div h1, header div h2 {
    text-align: left;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

p {
    font-family: "ReenieBeanie", cursive;
    font-size: 1.25em;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}