body {
    background-color: rgb(249, 248, 246);
}

@font-face {
  font-family: Azeret; /* set name */
  src: url(https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap) /* url of the font */
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    margin-top: 32px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}