body {
    background-color: rgb(252, 251, 249);
}



h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 32px;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}