.frame-wrap {
    position: relative;
    height: 100vh;
    margin: 0 4em;
    overflow: visible;
}

.little-me,
.big-me {
    position: absolute;
    top: auto;
    width: 15.625em;
    height: auto;
    display: block;
    cursor: grab;
    user-select: none;
    touch-action: none;
    z-index: 1;
}


.little-me .image, .big-me .image {
    width: 100%;
    display: block;
    border: 0.5em solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0.1875em 0.5em 0.875em rgba(0, 0, 0, 0.39);
    background-color: #ffffff;
}

.tape {
    position: relative;
    top: 0.875em;
    left: 0;
    transform: none;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 1.875em;
    z-index: 2;
}

.little-me {
    top: 5.625em;
    left: 25.3125em;
    transform: rotate(-2deg);
}

.big-me {
    top: 5.625em;
    left: 42.1875em;
    transform: rotate(1deg);
}

.welcome {
    min-height: 110vh;          /* full viewport height */
    display: flex;
    justify-content: center;    /* horizontal */
    align-items: center;   
}

.welcome p {
    font-family: "ReenieBeanie", cursive;
    font-weight: 300;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    text-align: center;
}