.obj1 {
    left: 55.99vw;
    top: 13.60vw;
    transform: rotate(1deg);
}

.obj2 {
    left: 55.99vw;
    top: 0vw;
    transform: rotate(-1deg);
}

.obj3 {
    left: 37.32vw;
    top: 0vw;
    transform: rotate(1deg);
}

.obj4 {
    left: 37.32vw;
    top: 13.60vw;
    transform: rotate(-1deg);
}

.obj5 {
    left: 0vw;
    top: 0vw;
    transform: rotate(-1deg);
}

.obj6 {
    left: 18.66vw;
    top: 0vw;
    transform: rotate(1deg);
}

.obj7 {
    left: 74.64vw;
    top: 0vw;
    transform: rotate(1deg);

}

.obj8 {
    left: 74.64vw;
    top: 13.60vw;
    transform: rotate(-1deg);
}

/* Collection02 */

.obj9 {
    left: 0vw;
    top: 41.63vw;
    transform: rotate(1deg);
    width: 35.97vw;
}

.obj10 {
    left: 37.32vw;
    top: 41.63vw;
    transform: rotate(-1deg);
}

.obj11 {
    left: 55.99vw;
    top: 41.63vw;
    transform: rotate(-1deg);
}

.obj12 {
    left: 55.99vw;
    top: 54.95vw;
    transform: rotate(1deg);
}

.obj13 {
    left: 37.32vw;
    top: 54.95vw;
    transform: rotate(-1deg);
}

.obj14 {
    left: 74.64vw;
    top: 54.95vw;
    transform: rotate(1deg);
}


p, h2 {
    font-family: "montserrat", sans-serif;
    font-size: 1.11vw;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}

.frame-wrap .frame-text:nth-child(1 of .frame-text) {
    top: 31.20vw;
}

.frame-wrap .frame-text:nth-child(2 of .frame-text) {
    top: 70.76vw;
}
