.obj1 {
    left: 807px;
    top: 197px;
    transform: rotate(1deg);
}

.obj2 {
    left: 807px;
    top: 0px;
    transform: rotate(-1deg);
}

.obj3 {
    left: 538px;
    top: 0px;
    transform: rotate(1deg);
}

.obj4 {
    left: 538px;
    top: 197px;
    transform: rotate(-1deg);
}

.obj5 {
    left: 0px;
    top: 0px;
    transform: rotate(-1deg);
}

.obj6 {
    left: 269px;
    top: 0px;
    transform: rotate(1deg);
}

.obj7 {
    left: 1076px;
    top: 0px;
    transform: rotate(1deg);

}

.obj8 {
    left: 1076px;
    top: 197px;
    transform: rotate(-1deg);
}

/* Collection02 */

.obj9 {
    left: 0px;
    top: 600px;
    transform: rotate(1deg);
    width: 519px;
}

.obj10 {
    left: 538px;
    top: 600px;
    transform: rotate(-1deg);
}

.obj11 {
    left: 807px;
    top: 600px;
    transform: rotate(-1deg);
}

.obj12 {
    left: 807px;
    top: 797px;
    transform: rotate(1deg);
}

.obj13 {
    left: 538px;
    top: 797px;
    transform: rotate(-1deg);
}

.obj14 {
    left: 1076px;
    top: 600px;
    transform: rotate(1deg);
}


p, h2 {
    font-family: "ReenieBeanie", cursive;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}

.frame-wrap .frame-text:nth-child(1 of .frame-text) {
    top: 450px;
}

.frame-wrap .frame-text:nth-child(2 of .frame-text) {
    top: 1020px;

}