.obj1 {
    left: 50.4375em;
    top: 12.25em;
    transform: rotate(1deg);
}

.obj2 {
    left: 50.4375em;
    top: 0em;
    transform: rotate(-1deg);
}

.obj3 {
    left: 33.625em;
    top: 0em;
    transform: rotate(1deg);
}

.obj4 {
    left: 33.625em;
    top: 12.25em;
    transform: rotate(-1deg);
}

.obj5 {
    left: 0em;
    top: 0em;
    transform: rotate(-1deg);
}

.obj6 {
    left: 16.8125em;
    top: 0em;
    transform: rotate(1deg);
}

.obj7 {
    left: 67.25em;
    top: 0em;
    transform: rotate(1deg);

}

.obj8 {
    left: 67.25em;
    top: 12.25em;
    transform: rotate(-1deg);
}

/* Collection02 */

.obj9 {
    left: 0em;
    top: 37.5em;
    transform: rotate(1deg);
    width: 32.4375em;
}

.obj10 {
    left: 33.625em;
    top: 37.5em;
    transform: rotate(-1deg);
}

.obj11 {
    left: 50.4375em;
    top: 37.5em;
    transform: rotate(-1deg);
}

.obj12 {
    left: 50.4375em;
    top: 49.5em;
    transform: rotate(1deg);
}

.obj13 {
    left: 33.625em;
    top: 49.5em;
    transform: rotate(-1deg);
}

.obj14 {
    left: 67.25em;
    top: 49.5em;
    transform: rotate(1deg);
}


p, h2 {
    font-family: "ReenieBeanie", cursive;
    font-size: 1.25em;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}

.frame-wrap .frame-text:nth-child(1 of .frame-text) {
    top: 28.125em;
}

.frame-wrap .frame-text:nth-child(2 of .frame-text) {
    top: 63.75em;
}
